{% extends "base.html" %}
{% load staticfiles %}

{% block conteudo %}

	{% include "header_admin.html" %}
	<div id="about" class="page-alternate">
		<div class="container">

			<div class="row">
				<div class="span12">
					<div class="title-page">
						<h1>Área de acesso</h1>
						
						<div class='row'>
						
							{% if erro %}
								<div class='alert alert-danger col-md-6'>Login ou senha incorretos! Por favor tente novamente:</div>
							{% endif %}
							
							<div class='col-md-7'>
								Digite o seu login e senha nos campos abaixo para acessar sua área específica:
								
								<form class="form-group" action='.' method='POST'>
									{% csrf_token %}
									{{form.as_p}}
									<input type='submit' class='btn btn-warning' value='Entrar'>
								</form>
							</div>
						
						</div>

					</div>
				</div>
			</div>

</div>
{% endblock conteudo %}
