{% extends "base.html" %}
{% load staticfiles %}
{% block conteudo %}
	{% include "header_admin.html" %}
	<div id="about" class="page-alternate">
		<div class="container">

			<div class="row">
				<div class="span12">
					<div class="title-page">
						<h2 class="title">work</h2>
						<h3 class="title-description">Gerenciamento da página de works</h3>
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Listagem dos works</h3></div>

				<div class="panel-body">
						<p>
							<a href={% url 'work_novo' %}>
								<button class='btn btn-warning'>cadastrar</button>
							</a>
						</p>
						
					{% if work %}
					<div class="span8">
						<table class="table">
							<tr class="titulo-tabela">
								<td>Código</td>
								<td>Título</td>
								<td>categoria</td>
								<td>Opções</td>
							</tr>

							{% for w in work %}
								<tr class={% cycle 'claro' 'escuro' %}>
									<td>{{w.id}}</td>
									<td>{{w.nome}}</td>
									<td>{{w.categoria}}</td>
									<td>
										<a href={% url 'work_edit' w.id %}>
											<button class="font-icon-wrench"></button>
										</a>
										<a href={% url 'work_excluir' w.id %} onclick='confirmaExclusao(event)'>
											<button class="font-icon-remove"></button>
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
					{% else %}
						<p>Ainda não existem works cadastrados no sistema</p>
					{% endif %}
				</div>

			</div>
		</div>
	</div>
{% endblock conteudo %}