<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
	<!-- Title Page -->
	<div class="row">
		<div class="span12">
			<div class="title-page">
				<h2 class="title">Quem Somos</h2>
				<h3 class="title-description">Our Team</h3>
			</div>
		</div>
	</div>
	<!-- End Title Page -->
	
	<!-- People -->
	<div class="row">
		{% for t in team %}
			
			<!-- Start Profile -->
			<div class="span4 profile">
				<div class="image-wrap">
					<div class="hover-wrap">
						<span class="overlay-img"></span>
						<span class="overlay-text-thumb">{{t.cargo}}</span>
					</div>
					<img src="/media/{{t.foto}}" alt="{{t.nome}}">
				</div>
				<h3 class="profile-name">{{t.nome}}</h3>
				<p class="profile-description">{{t.descricao}}</p>
					
				<div class="social">
					<ul class="social-icons">
						<li><a href={{t.twitter}} target="_blank"><i class="font-icon-social-twitter"></i></a></li>
						<li><a href={{t.linkedin}} target="_blank"><i class="font-icon-social-linkedin"></i></a></li>
						<li><a href={{t.facebook}} target="_blank"><i class="font-icon-social-facebook"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- End Profile -->
		
		{% endfor %}
	</div>
	<!-- End People -->
</div>
</div>
<!-- End About Section -->