<!DOCTYPE html>
{% load staticfiles %}

<html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>:: Black Western Rhino Studio ::</title>   

<meta name="description" content="Insert Your Site Description" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
{% block css %}
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
	<!-- Main Style -->
	<link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
	<!-- Supersized -->
	<link rel="stylesheet" type="text/css" href={% static "css/supersized.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/supersized.shutter.css" %}>
	<!-- FancyBox -->
	<link rel="stylesheet" type="text/css" href={% static "css/fancybox/jquery.fancybox.css" %}>
	<!-- Font Icons -->
	<link rel="stylesheet" type="text/css" href={% static "css/fonts.css" %}>
	<!-- Shortcodes -->
	<link rel="stylesheet" type="text/css" href={% static "css/shortcodes.css" %}>
	<!-- Responsive -->
	<link rel="stylesheet" type="text/css" href={% static "css/bootstrap-responsive.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/responsive.css" %}>
	<!-- Supersized -->
	<link rel="stylesheet" type="text/css" href={% static "css/supersized.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/supersized.shutter.css" %}>
	<!-- Google Font -->
	<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900'>

{% endblock css %}

{% block js %}
	<!-- Modernizr -->
	<script type="text/javascript" src={% static "js/modernizr.js" %}></script>
	<!-- Js -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
	<script type="text/javascript" src= {% static "js/bootstrap.min.js" %}></script> <!-- Bootstrap -->
	<script type="text/javascript" src= {% static "js/supersized.3.2.7.min.js" %}></script> <!-- Slider -->
	<script type="text/javascript" src= {% static "js/waypoints.js" %}></script> <!-- WayPoints -->
	<script type="text/javascript" src= {% static "js/waypoints-sticky.js" %}></script> <!-- Waypoints for Header -->
	<script type="text/javascript" src= {% static "js/jquery.isotope.js" %}></script> <!-- Isotope Filter -->
	<script type="text/javascript" src= {% static "js/jquery.fancybox.pack.js" %}></script> <!-- Fancybox -->
	<script type="text/javascript" src= {% static "js/jquery.fancybox-media.js" %}></script> <!-- Fancybox for Media -->
	<script type="text/javascript" src= {% static "js/jquery.tweet.js" %}></script> <!-- Tweet -->
	<script type="text/javascript" src= {% static "js/plugins.js" %}></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
	<script type="text/javascript" src= {% static "js/main.js" %}></script> <!-- Default JS -->
	<!-- End Js -->

	
{% endblock js %}

<!-- Fav Icon -->
<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

</head>

<body>

{% block conteudo %}

{% endblock conteudo %}

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

</body>
</html>