<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
	<!-- Title Page -->
	<div class="row">
		<div class="span12">
			<div class="title-page">
				<h2 class="title">Contate-nos</h2>
				<h3 class="title-description">Vamos bater um papo, nos convide para tomarmos um café, ou jogar algo</h3>
			</div>
		</div>
	</div>
	<!-- End Title Page -->
	
	<!-- Contact Form -->
	<div class="row">
		<div class="span9">
		
			<form id="contact-form" class="contact-form" action="#">
				<p class="contact-name">
					<input id="contact_name" type="text" placeholder="Nome Completo" value="" name="name" />
				</p>
				<p class="contact-email">
					<input id="contact_email" type="text" placeholder="Email" value="" name="email" />
				</p>
				<p class="contact-message">
					<textarea id="contact_message" placeholder="Sua Mensagem" name="message" rows="15" cols="40"></textarea>
				</p>
				<p class="contact-submit">
					<a id="contact-submit" class="submit" href=".">Enviar Email</a>
				</p>
				
				<div id="response">
				
				</div>
			</form>
		 
		</div>
		
		<div class="span3">
			<div class="contact-details">
				<h3>Nossos Contatos</h3>
				<ul>
					<li><a href="#">email@email.com</a></li>
					<li>(00) 00000-0000</li>
					<li>
						Black Western Rino Studio
						<br>
						Ainda sem endereço fixo.
						<br>
						Recife - PE
						<br>
						Brasil
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->