<!-- Footer -->
<footer>
	<p class="credits">&copy;2015 Oxesoftware.
		<a href="http://site.oxesoftware.com/" target='_blank' title="oxesoftware.com"> oxesoftware.com </a>
		 by <a href="https://fb.com/ant.celso" target='_blank' title="Antonio Malaquias | Web Programmer &amp; Front-end and Back-end Developer">Antonio Malaquias</a></p>
</footer>
<!-- End Footer -->