<!-- Header -->
<header>
	<div class="sticky-nav">
		<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
		
		<div id="logo">
			<a id="goUp" href="/" title="Black Western Rhino Studio">Black Western Rhino Studio</a>
		</div>
		
		<nav id="menu">
			<ul id="">
				<li><a href="/administracao/listar_team/">Team</a></li>
				<li><a href="/administracao/listar_work">Work</a></li>
				<li><a href="/sair/">finalizar sessão</a></li>
			</ul>
		</nav>
		
	</div>
</header>
<!-- End Header -->