<!-- Header -->
<header>
	<div class="sticky-nav">
		<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
		
		<div id="logo">
			<a id="goUp" href="/" title="Black Western Rhino Studio">Black Western Rhino Studio</a>
		</div>
		
		<nav id="menu">
			<ul id="menu-nav">
				<li class="current"><a href="#home-slider">Home</a></li>
				<li><a href="#work">O que estamos fazendo</a></li>
				<li><a href="#about">Quem Somos</a></li>
				<li><a href="#contact">Contato</a></li>
			</ul>
		</nav>
		
	</div>
</header>
<!-- End Header -->