<!-- Socialize -->
<div id="social-area" class="page">
	<div class="container">
		<div class="row">
			<div class="span12">
				<nav id="social">
					<ul>
						<li>
							<a href="#" title="Follow Me on Twitter" target="_blank">
								<span class="font-icon-social-twitter">
								</span>
							</a>
						</li>
						<li>
							<a href="#" title="Follow Me on Facebook" target="_blank">	<span class="font-icon-social-facebook">
							</span>
							</a>
						</li>
						<li>
							<a href="#" title="Follow Me on Google Plus" target="_blank">
								<span class="font-icon-social-google-plus">
								</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- End Socialize -->