<!-- Twitter Feed -->
<div id="twitter-feed" class="page-alternate">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="follow">
					<a href="https://twitter.com/antoniocelso55" title="Follow Me on Twitter" target="_blank"><i class="font-icon-social-twitter"></i></a>
				</div>
					
				<div id="ticker" class="query"> 
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Twitter Feed -->