<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
		<!-- Title Page -->
		<div class="row">
			<div class="span12">
				<div class="title-page">
					<h2 class="title">O que estamos fazendo</h2>
					<h3 class="title-description">Check todos os projetos da <a href="#">BWR</a>.</h3>
				</div>
			</div>
		</div>
		<!-- End Title Page -->
		
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="span3">
				<!-- Filter -->
				<nav id="options" class="work-nav">
					<ul id="filters" class="option-set" data-option-key="filter">
						<li class="type-work">Filtrar</li>
						<li><a href="#filter" data-option-value="*" class="selected">Tudo</a></li>
						<li><a href="#filter" data-option-value=".photography">Imagens</a></li>
						<li><a href="#filter" data-option-value=".design">Design</a></li>
						<li><a href="#filter" data-option-value=".video">Videos</a></li>
					</ul>
				</nav>
				<!-- End Filter -->
			</div>
			
			<div class="span9">
				<div class="row">
					<section id="projects">
						<ul id="thumbs">
							{% for work in works %}	
							
							{% if work.categoria == "video" %}

								<!-- Item Project and Filter Name -->
								<li class="item-thumbs span3 video">
									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
									<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="{{work.nome}}" href="{{work.video}}">
										<span class="overlay-img"></span>
										<span class="overlay-img-thumb font-icon-plus"></span>
									</a>
									<!-- Thumb Image and Description -->
									<img src="/media/{{work.foto}}" alt="Video">
								</li>
								<!-- End Item Project -->

							{% else %}

								<!-- Item Project and Filter Name -->
								<li class="item-thumbs span3 {{work.categoria}}">
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{work.nome}}" href="/media/{{work.foto}}">
										<span class="overlay-img"></span>
										<span class="overlay-img-thumb font-icon-plus"></span>
									</a>
									<!-- Thumb Image and Description -->
									<img src="/media/{{work.foto}}" alt="{{work.descricao}}">
								</li>
								<!-- End Item Project -->

							{% endif %}

							{% endfor %}
						</ul>
					</section>
				</div>
			</div>
		</div>
		<!-- End Portfolio Projects -->
	</div>
</div>
<!-- End Our Work Section -->