{% extends "base.html" %}
{% load staticfiles %}
{% block conteudo %}
	{% include "header_admin.html" %}
	<div id="about" class="page-alternate">
		<div class="container">

			<div class="row">
				<div class="span12">
					<div class="title-page">
						<h2 class="title">Team</h2>
						<h3 class="title-description">Gerenciamento da página de colaboradores</h3>
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Listagem dos Colaboradores</h3></div>

				<div class="panel-body">
						<p>
							<a href={% url 'team_novo' %}>
								<button class='btn btn-warning'>cadastrar</button>
							</a>
						</p>
						
					{% if team %}
					<div class="span8">
						<table class="table">
							<tr class="titulo-tabela"><td>Código</td><td>Título</td><td>Opções</td></tr>

							{% for t in team %}
								<tr class={% cycle 'claro' 'escuro' %}>
									<td>{{t.id}}</td>
									<td>{{t.nome}}</td>
									<td>
										<a href={% url 'team_edit' t.id %}>
											<button class="font-icon-wrench"></button>
										</a>
										<a href={% url 'team_excluir' t.id %} onclick='confirmaExclusao(event)'>
											<button class="font-icon-remove"></button>
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
					{% else %}
						<p>Ainda não existem colaboradores cadastrados no sistema</p>
					{% endif %}
				</div>

			</div>
		</div>
	</div>
{% endblock conteudo %}