{% extends "base.html" %}
{% load staticfiles %}
{% block conteudo %}
{% include "header_admin.html" %}

<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
	<!-- Title Page -->
	<div class="row">
		<div class="span12">
			<div class="title-page">
				<h2 class="title">Cadastro de colaborador</h2>
				<h3 class="title-description">Todos campos são obrigatórios</h3>
			</div>
		</div>
	</div>
	<!-- End Title Page -->

	<form id="contact-form" class="contact-form" action='.' method='POST' enctype='multipart/form-data'>
		{% csrf_token %}
		{{form.as_p}}
		<input type='submit' class="submit" value='cadastrar'>
	</form>
		<a href={% url 'listar_team' %}>
			<span class="button button-small">cancelar cadastro</span>
		</a>
{% endblock conteudo %}